<div class='container mt-4'>
  <h1>Dashboard</h1>
  <p>Bem-vindo, {{usuario.nome}} ({{usuario.perfil}})</p>
  <ul>
    <li><a href='/admin/eventos'>Eventos</a></li>
    <li><a href='/admin/certificados'>Certificados</a></li>
    <li><a href='/admin/participantes'>Participantes</a></li>
    <li><a href='/admin/usuarios'>Usuários</a></li>
  </ul>
</div>