<div class='row justify-content-center mt-5'>
  <div class='col-md-6'>
    {{#if mensagem}}
      <div class='alert alert-danger'>{{mensagem}}</div>
    {{/if}}
    <h2>Validar certificado</h2>
    <form method='GET' action='/public/validar'>
      <div class='mb-3'>
        <label for='codigo' class='form-label'>Código do certificado</label>
        <input
          type='text'
          class='form-control'
          id='codigo'
          name='codigo'
          required
          placeholder='Digite o código do certificado'
        />
      </div>
      <button type='submit' class='btn btn-primary'>Validar</button>
    </form>
    <a href='/public/pagina/opcoes' class='btn btn-link mt-3'>← Voltar</a>
  </div>
</div>