<div class='row justify-content-center mt-5'>
  <div class='col-md-6'>
    <h2>Certificados</h2>
    <div class='list-group mt-4'>
      <a
        href='/public/pagina/obter'
        class='list-group-item list-group-item-action'
      >
        <strong>Obter meus certificados</strong>
        <p class='mb-0 text-muted'>Consulte e baixe certificados pelo seu e-mail</p>
      </a>
      <a
        href='/public/pagina/validar'
        class='list-group-item list-group-item-action'
      >
        <strong>Validar certificado</strong>
        <p class='mb-0 text-muted'>Verifique a autenticidade de um certificado</p>
      </a>
    </div>
  </div>
</div>